<section class="home-body">
    <div class="product">
        <h2 class="product__tille">DÂY CÁP ĐIỆN</h2>
        <div class="product__group">
            <div class="product__group__producer">
                <a href="/day-cap-dien/day-cap-dien-cadisun.html">
                    <img
                        src="./assets/img/day-cap-dien-cadisun.png"
                        alt="day-cap-dien-cadisun"
                    />
                </a>
                <a href="/day-cap-dien/day-cap-dien-LS-vina.html">
                    <img
                        src="./assets/img/day-cap-dien-LS cable.png"
                        alt="day-cap-dien-LS cable"
                    />
                </a>
                <a href="/day-cap-dien/day-cap-dien-cadivi.html">
                    <img
                        src="./assets/img/day-cap-dien-cadivi-cable.png"
                        alt="day-cap-cadivi-cable"
                    />
                </a>
                <a href="/day-cap-dien/day-cap-dien-tran-phu.html">
                    <img
                        src="./assets/img/day-cap-dien-tran-phu-cable.png"
                        alt="day-cap-dien-tran-phu-cable"
                    />
                </a>
                <a href="/day-cap-dien/day-cap-dien-goldcup.html">
                    <img
                        src="./assets/img/day-cap-dien-goldcup-cable.png"
                        alt="day-cap-dien-goldcup-cable"
                    />
                </a>
                <a href="/day-cap-dien/day-cap-dien-cadigold.html">
                    <img
                        src="./assets/img/day-cap-dien-cadigold.png"
                        alt="day-cap-dien-cadigold-cable"
                    />
                </a>
            </div>
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="/day-cap-dien/day-cap-dien-cadisun.html">
                        <div class="product__group__list__item__product">
                            <img
                                src="./assets/img/day-cap-dien/day-dien-don-1-loi-mem.png"
                                alt="day-dien-don-1-loi-mem"
                            />
                            <h3 class="product__group__list__item__tille">
                                Dây điện đơn Cu/PVC (1 lõi)
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="/day-cap-dien/day-cap-dien-cadisun.html">
                        <div class="product__group__list__item__product">
                            <img
                                src="./assets/img/day-cap-dien/day-dien-doi-det-2-loi-mem.png"
                                alt="day-dien-doi-2-loi-mem"
                            />
                            <h3 class="product__group__list__item__tille">
                                Dây điện đôi Cu/PVC/PVC (2 lõi)
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="/day-cap-dien/day-cap-dien-cadisun.html">
                        <div class="product__group__list__item__product">
                            <img
                                src="./assets/img/day-cap-dien/Cap-mem-CV-1x.png"
                                alt="Cap-mem-CV-1x"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp đồng mềm Cu/PVC 1x
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="/day-cap-dien/day-cap-dien-cadisun.html">
                        <div class="product__group__list__item__product">
                            <img
                                src="./assets/img/day-cap-dien/cap-dong-1-ruot-CXV-1x.png"
                                alt="cap-CXV-1x"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp đồng Cu/XLPE/PVC 1x
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="/day-cap-dien/day-cap-dien-cadisun.html">
                        <div class="product__group__list__item__product">
                            <img
                                src="./assets/img/day-cap-dien/cap-dong-2-ruot-CXV-2x.png"
                                alt="cap-CXV-2x"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp đồng Cu/XLPE/PVC 2x
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="/day-cap-dien/day-cap-dien-cadisun.html">
                        <div class="product__group__list__item__product">
                            <img
                                src="./assets/img/day-cap-dien/cap-dong-3-ruot-CXV-3x.png"
                                alt="cap-CXV-3x"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp đồng Cu/XLPE/PVC 3x
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="/day-cap-dien/day-cap-dien-cadisun.html">
                        <div class="product__group__list__item__product">
                            <img
                                src="./assets/img/day-cap-dien/cap-dong-4-ruot-CXV-3x+1.png"
                                alt="cap-CXV-3x+1"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp đồng Cu/XLPE/PVC 3x+1
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="/day-cap-dien/day-cap-dien-cadisun.html">
                        <div class="product__group__list__item__product">
                            <img
                                src="./assets/img/day-cap-dien/cap-dong-4-ruot-CXV-4x.png"
                                alt="cap-CXV-4x"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp đồng Cu/XLPE/PVC 4x
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="/day-cap-dien/day-cap-dien-cadisun.html">
                        <div class="product__group__list__item__product">
                            <img
                                src="./assets/img/day-cap-dien/cap-treo-trung-the-1x.png"
                                alt="cap-treo-trung-the-12/20(24)kV-1x"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp đồng treo trung thế 12/20(24)kV 1x
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="/day-cap-dien/day-cap-dien-cadisun.html">
                        <div class="product__group__list__item__product">
                            <img
                                src="./assets/img/day-cap-dien/cap-treo-trung-the-3x.png"
                                alt="cap-treo-trung-the-12/20(24)kV-3x"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp đồng treo trung thế 12/20(24)kV 3x
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="/day-cap-dien/day-cap-dien-cadisun.html">
                        <div class="product__group__list__item__product">
                            <img
                                src="./assets/img/day-cap-dien/cap-dong-ngam-trung-the-1x.png"
                                alt="cap-ngầm-trung-the-12/20(24)kV-1x"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp đồng treo trung thế 12/20(24)kV 1x
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="/day-cap-dien/day-cap-dien-cadisun.html">
                        <div class="product__group__list__item__product">
                            <img
                                src="./assets/img/day-cap-dien/cap-dong-ngam-trung-the 3x.png"
                                alt="cap-ngầm-trung-the-12/20(24)kV-3x"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp đồng treo trung thế 12/20(24)kV 3x
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="/day-cap-dien/day-cap-dien-cadisun.html">
                        <div class="product__group__list__item__product">
                            <img
                                src="./assets/img/day-cap-dien/cap-dong-ngam-trung-the 3x.png"
                                alt="cap-ngầm-trung-the-18/30(36)kV-1x"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp đồng treo trung thế 18/30(36)kV 1x
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="/day-cap-dien/day-cap-dien-cadisun.html">
                        <div class="product__group__list__item__product">
                            <img
                                src="./assets/img/day-cap-dien/cap-dong-ngam-trung-the 3x.png"
                                alt="cap-ngầm-trung-the-20/35(40.5)kV-3x"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp đồng treo trung thế 20/35(40.5)kV 3x
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="/day-cap-dien/day-cap-dien-cadisun.html">
                        <div class="product__group__list__item__product">
                            <img
                                src="./assets/img/day-cap-dien/cap-nhom-van-xoan.png"
                                alt="cap-nhom-van-xoan"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp nhôm vặn xoắn Al/XLPE/PVC
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="/day-cap-dien/day-cap-dien-cadisun.html">
                        <div class="product__group__list__item__product">
                            <img
                                src="./assets/img/day-cap-dien/mua-cap-dien-chong-chay-Fr.png"
                                alt="cap-dien-chong-chay-Fr"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp Chống cháy Cu/Mica/Fr-PVC
                            </h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
