<!-- <section class="home-body">
    <div class="product">
        <h2 class="product__tille">
            THIẾT BỊ ĐIỆN DÂN DỤNG ( CÔNG TẮC - Ổ CẮM )
        </h2>
        <div class="product__group">
            <div class="product__group__producer">
                <a href="#!">
                    <img
                        src="./assets/img/Cong-tac-o-cam-panasonic.png"
                        alt="Cong-tac-o-cam-panasonic"
                    />
                </a>
                <a href="#!">
                    <img
                        src="./assets/img/Cong-tac-o-cam-sino.png"
                        alt="Cong-tac-o-cam-sino"
                    />
                </a>
                <a href="#!">
                    <img
                        src="./assets/img/Cong-tac-o-cam-dien-quang.png"
                        alt="Cong-tac-o-cam-dien-quang"
                    />
                </a>
                <a href="#!">
                    <img
                        src="./assets/img/thiet-bi-dien-Schneider.png"
                        alt="Cong-tac-o-cam-shnider"
                    />
                </a>
                <a href="#!">
                    <img
                        src="./assets/img/thiet-bi-dien-ls-1.png"
                        alt="Cong-tac-o-cam-LS"
                    />
                </a>
            </div>
        </div>
    </div>
</section> -->
