<section class="home-body">
    <div class="product">
        <h2 class="product__tille">Thiết bị điện công nghiệp</h2>
        <div class="product__group">
            <div class="product__group__producer">
                <a href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls.html">
                    <img
                        src="./assets/img/thiet-bi-dien-ls-1.png"
                        alt="Thiet-bi-dien-LS"
                    />
                </a>
                <a href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-Huyndai.html">
                    <img
                        src="./assets/img/thiet-bi-dien-huyndai.png"
                        alt="Thiet-bi-dien-Huyndai"
                    />
                </a>
                <a href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ABB.html">
                    <img
                        src="./assets/img/thiet-bi-dien-ABB.png"
                        alt="Thiet-bi-dien-ABB"
                    />
                </a>
                <a
                    href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-Mitsubishi.html"
                >
                    <img
                        src="./assets/img/thiet-bi-dien-Mitsubishi.png"
                        alt="Thiet-bi-dien-Mistubishi"
                    />
                </a>
                <a
                    href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-Schneider.html"
                >
                    <img
                        src="./assets/img/thiet-bi-dien-Schneider.png"
                        alt="Thiet-bi-dien-shnider"
                    />
                </a>
                <a href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-Chint.html">
                    <img
                        src="./assets/img/thiet-bi-dien-chint.png"
                        alt="Thiet-bi-dien-chint"
                    />
                </a>
                <a
                    href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-Sino-Vanlock.html"
                >
                    <img
                        src="./assets/img/Cong-tac-o-cam-sino.png"
                        alt="Thiet-bi-dien-sino"
                    />
                </a>
                <a
                    href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-Panasonic.html"
                >
                    <img
                        src="./assets/img/Cong-tac-o-cam-panasonic.png"
                        alt="Thiet-bi-dien-panasonic"
                    />
                </a>
            </div>
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a
                        href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls.html#Aptomat-MCB-LS"
                    >
                        <div class="product__group__list__item__product">
                            <img
                                src="./assets/img/thiet bi dien/Aptomat-tep-MCB.png"
                                alt="Aptomat-tep-MCB"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép cài MCB
                            </h3>
                        </div>
                    </a>
                </div>

                <div class="product__group__list__item">
                    <a
                        href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls.html#Aptomat-MCCB-LS"
                    >
                        <div class="product__group__list__item__product">
                            <img
                                src="./assets/img/thiet bi dien/Aptomat-MCCB.png"
                                alt="Aptomat-MCCB"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat khối MCCB
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a
                        href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls.html#RCBO-ELCB"
                    >
                        <div class="product__group__list__item__product">
                            <img
                                src="./assets/img/thiet bi dien/Aptomat-chong-giat-ELCB.png"
                                alt="Aptomat-chong-giat-ELCB"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat chống rò, chống giật ELCB, RCBO, RCCB
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a
                        href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls.html#Aptomat-Susol"
                    >
                        <div class="product__group__list__item__product">
                            <img
                                src="./assets/img/thiet bi dien/Aptomat-chinh-dong.png"
                                alt="Aptomat-chinh-dong"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat khối Susol MCCB
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a
                        href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls.html#Contactor-role"
                    >
                        <div class="product__group__list__item__product">
                            <img
                                src="./assets/img/thiet bi dien/khoi-dong-tu-contactor-MC.png"
                                alt="Khoi-dong-tu-Contactor-MC"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a
                        href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls.html#Contactor-role"
                    >
                        <div class="product__group__list__item__product">
                            <img
                                src="./assets/img/thiet bi dien/Ro-le-nhiet.png"
                                alt="Ro-le-nhiet"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt, Rơ le điện từ
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a
                        href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls.html#ACB-LS"
                    >
                        <div class="product__group__list__item__product">
                            <img
                                src="./assets/img/thiet bi dien/May-cat-khong-khi-ACB.png"
                                alt="May-cat-khong-khi-ACB"
                            />
                            <h3 class="product__group__list__item__tille">
                                Máy cắt không khí ACB
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a
                        href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls.html#Biến-Tần-LS"
                    >
                        <div class="product__group__list__item__product">
                            <img
                                src="./assets/img/thiet bi dien/LS/Bien-tan-3P-LS-380-480VAC.png"
                                alt="Bien-tan-3P-LS"
                            />
                            <h3 class="product__group__list__item__tille">
                                Biến Tần
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a
                        href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls.html#Thiết-bị-chống-sét-LS"
                    >
                        <div class="product__group__list__item__product">
                            <img
                                src="./assets/img/thiet bi dien/LS/thiet-bi-chong-set-lan-truyen-4P-LS.png"
                                alt="thiet-bi-chong-set-lan-truyen-LS"
                            />
                            <h3 class="product__group__list__item__tille">
                                Thiết bị chống sét lan truyền
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a
                        href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls.html#Bộ-điều-khiển-PLC"
                    >
                        <div class="product__group__list__item__product">
                            <img
                                src="./assets/img/thiet bi dien/LS/Bo-dieu-khien-PLC-LS-XGT-Series-XGK- XGI- XGR.png"
                                alt="Bo-dieu-khien-PLC-LS"
                            />
                            <h3 class="product__group__list__item__tille">
                                Bộ điều khiển PLC
                            </h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
