<section class="home-body">
    <div class="product">
        <h2 class="product__tille">Tụ Bù</h2>
        <div class="product__group">
            <div class="product__group__producer">
                <a href="/tu-bu/tu-bu-samwha.html">
                    <img
                        src="/assets/img/logo-samwha.png"
                        alt="Thiet-bi-dien-LS"
                    />
                </a>
                <a href="/tu-bu/tu-bu-nuintek.html">
                    <img
                        src="/assets/img/logo-nuintek.png"
                        alt="tu-bu-Nuintek"
                    />
                </a>
                <a href="/tu-bu/tu-bu-eunsung.html">
                    <img
                        src="/assets/img/logo-eunsung.png"
                        alt="tu-bu-eunsung"
                    />
                </a>
            </div>
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="/tu-bu/tu-bu-samwha.html">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/samwha-main.png"
                                alt="tu-bu-samwha"
                            />
                            <h3 class="product__group__list__item__tille">
                                Tụ Bù Samwha
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="/tu-bu/tu-bu-nuintek.html">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/nuintek-main.png"
                                alt="tu-bu-nuintek"
                            />
                            <h3 class="product__group__list__item__tille">
                                Tụ Bù Nuintek
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="/tu-bu/tu-bu-nuintek.html">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/eunsung-main.png"
                                alt="tu-bu-eunsung"
                            />
                            <h3 class="product__group__list__item__tille">
                                Tụ Bù Eunsung
                            </h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
