<!-- day dien -->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">Dây điện mềm Cu/PVC 300/500V và 500/750V</h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="#!">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/day-cap-dien/day-dien-don-1-loi-mem.png"
                                alt="day-dien-don-mem-Cu/PVC-VCSF-1x-Cadisun"
                            />
                            <h3 class="product__group__list__item__tille">
                                Dây điện đơn mềm Cu/PVC VCSF 1x Cadisun
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/day-cap-dien-cadisun-ngang.png"
                                alt="day-cap-dien-cadisun"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="#!">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/day-cap-dien/day-dien-doi-det-2-loi-mem.png"
                                alt="day-dien-doi-det-mem-Cu/PVC/PVC-VCTFK-2x-Cadisun"
                            />
                            <h3 class="product__group__list__item__tille">
                                Dây điện đôi dẹt mềm Cu/PVC/PVC VCTFK 2x Cadisun
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/day-cap-dien-cadisun-ngang.png"
                                alt="day-cap-dien-cadisun"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="#!">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/day-cap-dien/day-dien-doi-tron-2-loi-mem.png"
                                alt="day-dien-doi-tron-mem-Cu/PVC/PVC-VCTFK-2x-Cadisun"
                            />
                            <h3 class="product__group__list__item__tille">
                                Dây điện đôi tròn mềm Cu/PVC/PVC VCTFK 2x
                                Cadisun
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/day-cap-dien-cadisun-ngang.png"
                                alt="day-cap-dien-cadisun"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="#!">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/day-cap-dien/day-sup-doi-dinh.png"
                                alt="day-dien-xup-dinh-Cu/PVC/PVC-VCmD-2x-Cadisun"
                            />
                            <h3 class="product__group__list__item__tille">
                                Dây điện xúp dính Cu/PVC/PVC VCmD 2x Cadisun
                            </h3>
                            <div class="product__group__list__item__logo">
                                <img
                                    src="/assets/img/day-cap-dien-cadisun-ngang.png"
                                    alt="day-cap-dien-cadisun"
                                />
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="#!">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/day-cap-dien/day-dien-mem-3-loi-3x.png"
                                alt="day-dien-mem-Cu/PVC/PVC-VCSF-3x-Cadisun"
                            />
                            <h3 class="product__group__list__item__tille">
                                Dây điện mềm Cu/PVC/PVC VCSF 3x Cadisun
                            </h3>
                            <div class="product__group__list__item__logo">
                                <img
                                    src="/assets/img/day-cap-dien-cadisun-ngang.png"
                                    alt="day-cap-dien-cadisun"
                                />
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="#!">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/day-cap-dien/Day-dien-mem-4-loi-4x.png"
                                alt="day-dien-mem-Cu/PVC/PVC-VCSF-4x-Cadisun"
                            />
                            <h3 class="product__group__list__item__tille">
                                Dây điện mềm Cu/PVC/PVC VCSF 4x Cadisun
                            </h3>
                            <div class="product__group__list__item__logo">
                                <img
                                    src="/assets/img/day-cap-dien-cadisun-ngang.png"
                                    alt="day-cap-dien-cadisun"
                                />
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- cap treo -->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">
            Dây cáp điện (cáp treo) Cu/XLPE/PVC 0.6/1kV
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="#!">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/day-cap-dien/Cap-mem-CV-1x.png"
                                alt="cap-mem-tiep-dia-cu-pvc-cv1x-1-loi-cadisun"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp đồng mềm tiếp địa Cu/PVC 0.6/1kV CV1x (1
                                lõi) cadisun
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/day-cap-dien-cadisun-ngang.png"
                                alt="day-cap-dien-cadisun"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="#!">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/day-cap-dien/cap-dong-1-ruot-CXV-1x.png"
                                alt="cap-dong-treo-1-ruot-CXV-1x-Cadisun"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp đồng mềm Cu/PVC/PVC 0.6/1kV CXV1x (1 lõi)
                                Cadisun
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/day-cap-dien-cadisun-ngang.png"
                                alt="day-cap-dien-cadisun"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="#!">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/day-cap-dien/cap-dong-2-ruot-CXV-2x.png"
                                alt="cap-dong-treo-2-ruot-CXV-2x-Cadisun"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp đồng (cáp treo) Cu/XLPE/PVC 0.6/1kV CXV2x (2
                                lõi) Cadisun
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/day-cap-dien-cadisun-ngang.png"
                                alt="day-cap-dien-cadisun"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="#!">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/day-cap-dien/cap-dong-3-ruot-CXV-3x.png"
                                alt="cap-dong-treo-3-ruot-CXV-3x-Cadisun"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp đồng (cáp treo) Cu/XLPE/PVC 0.6/1kV CXV3x (3
                                lõi) Cadisun
                            </h3>
                            <div class="product__group__list__item__logo">
                                <img
                                    src="/assets/img/day-cap-dien-cadisun-ngang.png"
                                    alt="day-cap-dien-cadisun"
                                />
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="#!">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/day-cap-dien/cap-dong-4-ruot-CXV-3x+1.png"
                                alt="cap-dong-treo-4-ruot-CXV-3x+1-Cadisun"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp đồng (cáp treo) Cu/XLPE/PVC CXV3x+1 (4 lõi)
                                Cadisun
                            </h3>
                            <div class="product__group__list__item__logo">
                                <img
                                    src="/assets/img/day-cap-dien-cadisun-ngang.png"
                                    alt="day-cap-dien-cadisun"
                                />
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="#!">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/day-cap-dien/cap-dong-4-ruot-CXV-4x.png"
                                alt="cap-dong-treo-4-ruot-CXV-4x-Cadisun"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp đồng (cáp treo) Cu/XLPE/PVC 0.6/1kV CXV4x (4
                                lõi) Cadisun
                            </h3>
                            <div class="product__group__list__item__logo">
                                <img
                                    src="/assets/img/day-cap-dien-cadisun-ngang.png"
                                    alt="day-cap-dien-cadisun"
                                />
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="#!">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/day-cap-dien/cap-dong-boc-5-ruot-cxv-3x+2.png"
                                alt="cap-dong-treo-5-ruot-CXV-3x+2-Cadisun"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp đồng (cáp treo) Cu/XLPE/PVC CXV3x+2 (5 lõi)
                                Cadisun
                            </h3>
                            <div class="product__group__list__item__logo">
                                <img
                                    src="/assets/img/day-cap-dien-cadisun-ngang.png"
                                    alt="day-cap-dien-cadisun"
                                />
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- cap mem -->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">Cáp đồng mềm Cu/PVC/PVC 0.6/1kV</h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="#!">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/day-cap-dien/cap-dong-mem-1-ruot-cvv-1x.png"
                                alt="cap-dong-treo-1-ruot-CVV-1x-Cadisun"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp đồng mềm Cu/PVC/PVC 0.6/1kV CVV1x (1 lõi)
                                Cadisun
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/day-cap-dien-cadisun-ngang.png"
                                alt="day-cap-dien-cadisun"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="#!">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/day-cap-dien/cap-dong-mem-2-ruot-cvv-2x.png"
                                alt="cap-dong-treo-2-ruot-CVV-2x-Cadisun"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp đồng mềm Cu/PVC/PVC 0.6/1kV CVV2x (2 lõi)
                                Cadisun
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/day-cap-dien-cadisun-ngang.png"
                                alt="day-cap-dien-cadisun"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="#!">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/day-cap-dien/cap-dong-mem-3-ruot-cvv-3x.png"
                                alt="cap-dong-treo-3-ruot-CVV-3x-Cadisun"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp đồng mềm Cu/PVC/PVC 0.6/1kV CVV3x (3 lõi)
                                Cadisun
                            </h3>
                            <div class="product__group__list__item__logo">
                                <img
                                    src="/assets/img/day-cap-dien-cadisun-ngang.png"
                                    alt="day-cap-dien-cadisun"
                                />
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="#!">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/day-cap-dien/cap-dong-mem-4-ruot-cvv-4x.png"
                                alt="cap-dong-treo-4-ruot-CVV-4x-Cadisun"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp đồng mềm Cu/PVC/PVC 0.6/1kV CVV4x (4 lõi)
                                Cadisun
                            </h3>
                            <div class="product__group__list__item__logo">
                                <img
                                    src="/assets/img/day-cap-dien-cadisun-ngang.png"
                                    alt="day-cap-dien-cadisun"
                                />
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="#!">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/day-cap-dien/cap-dong-mem-5-ruot-cvv-5x.png"
                                alt="cap-dong-treo-4-ruot-CVV-4x+1-Cadisun"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp đồng mềm Cu/PVC/PVC CVV4x+1 (5 lõi) Cadisun
                            </h3>
                            <div class="product__group__list__item__logo">
                                <img
                                    src="/assets/img/day-cap-dien-cadisun-ngang.png"
                                    alt="day-cap-dien-cadisun"
                                />
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="#!">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/day-cap-dien/cap-dong-mem-5-ruot-cvv-5x.png"
                                alt="cap-dong-treo-5-ruot-CVV-5x-Cadisun"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp đồng mềm Cu/PVC/PVC 0.6/1kV CVV5 (5 lõi)
                                Cadisun
                            </h3>
                            <div class="product__group__list__item__logo">
                                <img
                                    src="/assets/img/day-cap-dien-cadisun-ngang.png"
                                    alt="day-cap-dien-cadisun"
                                />
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- cap ngam ha the -->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">
            Cáp ngầm hạ thế Cu/XLPE/PVC/DSTA/PVC 0.6/1kV
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="#!">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/day-cap-dien/cap-ngam-ha-the-1-ruot-DATA-1x.png"
                                alt="cap-dong-ngam-1-ruot-DATA-1x-Cadisun"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp ngầm hạ thế Cu/XLPE/PVC/DSTA/PVC 0.6/1kV
                                DATA 1x (1 lõi) Cadisun
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/day-cap-dien-cadisun-ngang.png"
                                alt="day-cap-dien-cadisun"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="#!">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/day-cap-dien/cap-ngam-ha-the-2-ruot-DSTA-2x.png"
                                alt="cap-dong-ngam-2-ruot-DSTA-2x-Cadisun"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp ngầm hạ thế Cu/XLPE/PVC/DSTA/PVC 0.6/1kV
                                DSTA 2x (2 lõi) Cadisun
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/day-cap-dien-cadisun-ngang.png"
                                alt="day-cap-dien-cadisun"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="#!">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/day-cap-dien/cap-ngam-ha-the-3-ruot-DSTA-3x.png"
                                alt="cap-dong-ngam-3-ruot-DSTA-3x-Cadisun"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp ngầm hạ thế Cu/XLPE/PVC/DSTA/PVC 0.6/1kV
                                DSTA 3x (3 lõi) Cadisun
                            </h3>
                            <div class="product__group__list__item__logo">
                                <img
                                    src="/assets/img/day-cap-dien-cadisun-ngang.png"
                                    alt="day-cap-dien-cadisun"
                                />
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="#!">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/day-cap-dien/cap-ngam-ha-the-4-ruot-DSTA-3x+1.png"
                                alt="cap-dong-ngam-4-ruot-DSTA-4x-Cadisun"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp ngầm hạ thế Cu/XLPE/PVC/DSTA/PVC DSTA 3x+1
                                (4 lõi) Cadisun
                            </h3>
                            <div class="product__group__list__item__logo">
                                <img
                                    src="/assets/img/day-cap-dien-cadisun-ngang.png"
                                    alt="day-cap-dien-cadisun"
                                />
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="#!">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/day-cap-dien/cap-ngam-ha-the-4-ruot-DSTA-4x.png"
                                alt="cap-dong-ngam-4-ruot-DSTA-4x+1-Cadisun"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp đồng mềm Cu/PVC/PVC 0.6/1kV DSTA 4x (4 lõi)
                                Cadisun
                            </h3>
                            <div class="product__group__list__item__logo">
                                <img
                                    src="/assets/img/day-cap-dien-cadisun-ngang.png"
                                    alt="day-cap-dien-cadisun"
                                />
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="#!">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/day-cap-dien/cap-ngam-ha-the-5-ruot-DSTA-3x+2.png"
                                alt="cap-dong-ngam-5-ruot-DSTA-5x-Cadisun"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp ngầm hạ thế Cu/XLPE/PVC/DSTA/PVC DSTA 3x+2
                                (5 lõi) Cadisun
                            </h3>
                            <div class="product__group__list__item__logo">
                                <img
                                    src="/assets/img/day-cap-dien-cadisun-ngang.png"
                                    alt="day-cap-dien-cadisun"
                                />
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- cap treo trung the -->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">
            Dây cáp điện (cáp treo) Cu/XLPE/PVC 0.6/1kV
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="#!">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/day-cap-dien/Cap-mem-CV-1x.png"
                                alt="cap-mem-tiep-dia-cu-pvc-cv1x-1-loi-cadisun"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp đồng mềm tiếp địa Cu/PVC 0.6/1kV CV1x (1
                                lõi) cadisun
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/day-cap-dien-cadisun-ngang.png"
                                alt="day-cap-dien-cadisun"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="#!">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/day-cap-dien/cap-dong-1-ruot-CXV-1x.png"
                                alt="cap-dong-treo-1-ruot-CXV-1x-Cadisun"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp đồng mềm Cu/PVC/PVC 0.6/1kV CXV1x (1 lõi)
                                Cadisun
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/day-cap-dien-cadisun-ngang.png"
                                alt="day-cap-dien-cadisun"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="#!">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/day-cap-dien/cap-dong-2-ruot-CXV-2x.png"
                                alt="cap-dong-treo-2-ruot-CXV-2x-Cadisun"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp đồng (cáp treo) Cu/XLPE/PVC 0.6/1kV CXV2x (2
                                lõi) Cadisun
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/day-cap-dien-cadisun-ngang.png"
                                alt="day-cap-dien-cadisun"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="#!">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/day-cap-dien/cap-dong-3-ruot-CXV-3x.png"
                                alt="cap-dong-treo-3-ruot-CXV-3x-Cadisun"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp đồng (cáp treo) Cu/XLPE/PVC 0.6/1kV CXV3x (3
                                lõi) Cadisun
                            </h3>
                            <div class="product__group__list__item__logo">
                                <img
                                    src="/assets/img/day-cap-dien-cadisun-ngang.png"
                                    alt="day-cap-dien-cadisun"
                                />
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="#!">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/day-cap-dien/cap-dong-4-ruot-CXV-3x+1.png"
                                alt="cap-dong-treo-4-ruot-CXV-3x+1-Cadisun"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp đồng (cáp treo) Cu/XLPE/PVC CXV3x+1 (4 lõi)
                                Cadisun
                            </h3>
                            <div class="product__group__list__item__logo">
                                <img
                                    src="/assets/img/day-cap-dien-cadisun-ngang.png"
                                    alt="day-cap-dien-cadisun"
                                />
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="#!">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/day-cap-dien/cap-dong-4-ruot-CXV-4x.png"
                                alt="cap-dong-treo-4-ruot-CXV-4x-Cadisun"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp đồng (cáp treo) Cu/XLPE/PVC 0.6/1kV CXV4x (4
                                lõi) Cadisun
                            </h3>
                            <div class="product__group__list__item__logo">
                                <img
                                    src="/assets/img/day-cap-dien-cadisun-ngang.png"
                                    alt="day-cap-dien-cadisun"
                                />
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="#!">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/day-cap-dien/cap-dong-boc-5-ruot-cxv-3x+2.png"
                                alt="cap-dong-treo-5-ruot-CXV-3x+2-Cadisun"
                            />
                            <h3 class="product__group__list__item__tille">
                                Cáp đồng (cáp treo) Cu/XLPE/PVC CXV3x+2 (5 lõi)
                                Cadisun
                            </h3>
                            <div class="product__group__list__item__logo">
                                <img
                                    src="/assets/img/day-cap-dien-cadisun-ngang.png"
                                    alt="day-cap-dien-cadisun"
                                />
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
