<div class="container">
    <div class="botton-bar">
        <div class="botton-bar__info">
            <span>ĐẠI LÝ PHÂN PHỐI THIẾT BỊ ĐIỆN AN KHANG</span> <br />
            <span
                >Địa chỉ: 281 Nam Kỳ Khởi Nghĩa, Phường 14, Quận 3, Thành phố Hồ
                Chí Minh</span
            >
            <br />
            <div class="botton-bar__info__contact">
                <span>Liên hệ: Mr. Nam 081.599.2673</span>
            </div>
        </div>
        <div class="botton-bar__product">
            <span> SẢN PHẨM</span>
            <ul>
                <li>
                    <a href="#!">Dây cáp điện</a>
                </li>
                <li>
                    <a href="#!">Thiết bị điện công nghiệp</a>
                </li>
                <li>
                    <a href="#!">Thiết bị điện dân dụng (Công tắc- Ổ Cắm)</a>
                </li>
                <li>
                    <a href="#!">Thiết bị chiếu sáng</a>
                </li>
                <li>
                    <a href="#!">Tụ bù- Cuộn kháng Reactor</a>
                </li>
                <li>
                    <a href="#!">Vật tư phụ</a>
                </li>
            </ul>
        </div>

        <div class="botton-bar__support"></div>
    </div>
</div>
