<!-- BKJ-->
<section class="home-body">
    <div class="product">
        <h2 id="Aptomat-MCB-LS" class="product__tille">
            Aptomat tép cài MCB BKJ 3P 6ka LS
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a
                        href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls/aptomat-tep-cai-MCB-BKJ3P-6A-6ka-3-pha-3-cuc.html"
                    >
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/Aptomat-tep-MCB-BKJ-3P-3-Pha-6kA-LS.png"
                                alt="Aptomat-tep-MCB-BKJ-3P-3-Pha-6kA-6A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKJ 3P 6kA 6A (3 Pha 3 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a
                        href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls/aptomat-tep-cai-MCB-BKJ3P-10A-6ka-3-pha-3-cuc.html"
                    >
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/Aptomat-tep-MCB-BKJ-3P-3-Pha-6kA-LS.png"
                                alt="Aptomat-tep-MCB-BKJ-3P-3-Pha-6kA-10A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKJ 3P 6kA 10A (3 Pha 3 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a
                        href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls/aptomat-tep-cai-MCB-BKJ3P-16A-6ka-3-pha-3-cuc.html"
                    >
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/Aptomat-tep-MCB-BKJ-3P-3-Pha-6kA-LS.png"
                                alt="Aptomat-tep-MCB-BKJ-3P-3-Pha-6kA-16A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKJ 3P 6kA 16A (3 Pha 3 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a
                        href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls/aptomat-tep-cai-MCB-BKJ3P-20A-6ka-3-pha-3-cuc.html"
                    >
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/Aptomat-tep-MCB-BKJ-3P-3-Pha-6kA-LS.png"
                                alt="Aptomat-tep-MCB-BKJ-3P-3-Pha-6kA-20A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKJ 3P 6kA 20A (3 Pha 3 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a
                        href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls/aptomat-tep-cai-MCB-BKJ3P-25A-6ka-3-pha-3-cuc.html"
                    >
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/Aptomat-tep-MCB-BKJ-3P-3-Pha-6kA-LS.png"
                                alt="Aptomat-tep-MCB-BKJ-3P-3-Pha-6kA-25A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKJ 3P 6kA 25A (3 Pha 3 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a
                        href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls/aptomat-tep-cai-MCB-BKJ3P-32A-6ka-3-pha-3-cuc.html"
                    >
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/Aptomat-tep-MCB-BKJ-3P-3-Pha-6kA-LS.png"
                                alt="Aptomat-tep-MCB-BKJ-3P-3-Pha-6kA-32A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKJ 3P 6kA 32A (3 Pha 3 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a
                        href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls/aptomat-tep-cai-MCB-BKJ3P-40A-6ka-3-pha-3-cuc.html"
                    >
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/Aptomat-tep-MCB-BKJ-3P-3-Pha-6kA-LS.png"
                                alt="Aptomat-tep-MCB-BKJ-3P-3-Pha-6kA-40A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKJ 3P 6kA 40A (3 Pha 3 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a
                        href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls/aptomat-tep-cai-MCB-BKJ3P-50A-6ka-3-pha-3-cuc.html"
                    >
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/Aptomat-tep-MCB-BKJ-3P-3-Pha-6kA-LS.png"
                                alt="Aptomat-tep-MCB-BKJ-3P-3-Pha-6kA-50A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKJ 3P 6kA 50A (3 Pha 3 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a
                        href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls/aptomat-tep-cai-MCB-BKJ3P-63A-6ka-3-pha-3-cuc.html"
                    >
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/Aptomat-tep-MCB-BKJ-3P-3-Pha-6kA-LS.png"
                                alt="Aptomat-tep-MCB-BKJ-3P-3-Pha-6kA-63A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKJ 3P 6kA 63A (3 Pha 3 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- BKN -->
<section class="home-body">
    <div class="product">
        <h2 id="Aptomat-MCB-LS" class="product__tille">
            Aptomat tép cài MCB BKN 3P 6ka LS
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a
                        href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls/aptomat-tep-cai-MCB-BKN3P-6A-6ka-3-pha-3-cuc.html"
                    >
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/Aptomat-tep-MCB-BKN-3P-3-Pha-6kA-LS.png"
                                alt="Aptomat-tep-MCB-BKN-3P-3-Pha-6kA-6A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKN 3P 6kA 6A (3 Pha 3 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a
                        href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls/aptomat-tep-cai-MCB-BKN3P-10A-6ka-3-pha-3-cuc.html"
                    >
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/Aptomat-tep-MCB-BKN-3P-3-Pha-6kA-LS.png"
                                alt="Aptomat-tep-MCB-BKN-3P-3-Pha-6kA-10A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKN 3P 6kA 10A (3 Pha 3 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a
                        href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls/aptomat-tep-cai-MCB-BKN3P-16A-6ka-3-pha-3-cuc.html"
                    >
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/Aptomat-tep-MCB-BKN-3P-3-Pha-6kA-LS.png"
                                alt="Aptomat-tep-MCB-BKN-3P-3-Pha-6kA-16A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKN 3P 6kA 16A (3 Pha 3 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a
                        href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls/aptomat-tep-cai-MCB-BKN3P-20A-6ka-3-pha-3-cuc.html"
                    >
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/Aptomat-tep-MCB-BKN-3P-3-Pha-6kA-LS.png"
                                alt="Aptomat-tep-MCB-BKN-3P-3-Pha-6kA-20A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKN 3P 6kA 20A (3 Pha 3 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a
                        href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls/aptomat-tep-cai-MCB-BKN3P-25A-6ka-3-pha-3-cuc.html"
                    >
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/Aptomat-tep-MCB-BKN-3P-3-Pha-6kA-LS.png"
                                alt="Aptomat-tep-MCB-BKN-3P-3-Pha-6kA-25A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKN 3P 6kA 25A (3 Pha 3 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a
                        href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls/aptomat-tep-cai-MCB-BKN3P-32A-6ka-3-pha-3-cuc.html"
                    >
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/Aptomat-tep-MCB-BKN-3P-3-Pha-6kA-LS.png"
                                alt="Aptomat-tep-MCB-BKN-3P-3-Pha-6kA-32A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKN 3P 6kA 32A (3 Pha 3 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a
                        href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls/aptomat-tep-cai-MCB-BKN3P-40A-6ka-3-pha-3-cuc.html"
                    >
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/Aptomat-tep-MCB-BKN-3P-3-Pha-6kA-LS.png"
                                alt="Aptomat-tep-MCB-BKN-3P-3-Pha-6kA-40A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKN 3P 6kA 40A (3 Pha 3 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a
                        href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls/aptomat-tep-cai-MCB-BKN3P-50A-6ka-3-pha-3-cuc.html"
                    >
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/Aptomat-tep-MCB-BKN-3P-3-Pha-6kA-LS.png"
                                alt="Aptomat-tep-MCB-BKN-3P-3-Pha-6kA-50A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKN 3P 6kA 50A (3 Pha 3 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a
                        href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls/aptomat-tep-cai-MCB-BKN3P-63A-6ka-3-pha-3-cuc.html"
                    >
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/Aptomat-tep-MCB-BKN-3P-3-Pha-6kA-LS.png"
                                alt="Aptomat-tep-MCB-BKN-3P-3-Pha-6kA-63A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKN 3P 6kA 63A (3 Pha 3 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
