<div class="postsp">
    <div class="price-list">
        <p>
            <img class="icon" src="/assets/icon/download.svg" alt="" />
            <a href="/bang-gia/bang-gia-thiet-bi-dien-LS-2024-moi-nhat.html"
                >Bảng giá Thiết bị điện LS 01-06-2023</a
            >
        </p>
        <p>
            <img class="icon" src="/assets/icon/download.svg" alt="" />
            <a href="/catalog/catalog-thiet-bi-dien-LS-moi-nhat.html"
                >Catalog Thiết bị điện LS mới nhất</a
            >
        </p>
    </div>
    <div class="postsp--LS">
        <p>
            <img class="icon" src="/assets/icon/click.svg" alt="" />
            <a
                href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls.html#Aptomat-MCB-LS"
                >Aptomat tép cài MCB LS</a
            >
        </p>
        <p>
            <img class="icon" src="/assets/icon/click.svg" alt="" />
            <a
                href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls.html#Aptomat-MCCB-LS"
                >Aptomat khối MCCB LS</a
            >
        </p>
        <p>
            <img class="icon" src="/assets/icon/click.svg" alt="" />
            <a
                href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls.html#Contactor-role"
                >Khởi động từ Contactor 3P LS</a
            >
        </p>
        <p>
            <img class="icon" src="/assets/icon/click.svg" alt="" />
            <a
                href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls.html#Contactor-role"
                >Rơ le nhiệt, Rơ le điện từ LS</a
            >
        </p>
        <p>
            <img class="icon" src="/assets/icon/click.svg" alt="" />
            <a href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls.html#RCBO-ELCB"
                >Aptomat chống rò, chống giật ELCB, RCBO, RCCB LS</a
            >
        </p>
        <p>
            <img class="icon" src="/assets/icon/click.svg" alt="" />
            <a
                href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls.html#Aptomat-Susol"
                >Aptomat Susol MCCB LS</a
            >
        </p>
        <p>
            <img class="icon" src="/assets/icon/click.svg" alt="" />
            <a href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls.html#ACB-LS"
                >Máy cắt không khí ACB LS</a
            >
        </p>
        <p>
            <img class="icon" src="/assets/icon/click.svg" alt="" />
            <a
                href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls.html#Biến-Tần-LS"
                >Biến Tần LS</a
            >
        </p>
        <p>
            <img class="icon" src="/assets/icon/click.svg" alt="" />
            <a
                href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls.html#Thiết-bị-chống-sét-LS"
                >Thiết bị chống sét lan truyền LS</a
            >
        </p>
        <p>
            <img class="icon" src="/assets/icon/click.svg" alt="" />
            <a
                href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls.html#Bộ-điều-khiển-PLC"
                >Bộ điều khiển PLC</a
            >
        </p>
    </div>
</div>
